<h4>PRATOS</h4>

<div class="form-group">
  <input name="descricao" [(ngModel)]="filter.descricao" type="text" class="form-control" placeholder="Informe o prato que deseja procurar">
</div>


<a href="/prato/create" class="btn">
  <i class="material-icons left">add</i> Cadastrar novo prato
</a>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Restaurante</th>
      <th scope="col">Prato</th>
      <th scope="col">Preço (R$)</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let prato of pratos | pratoFilter:filter">
      <td style="width: 150px">
        <a href="/prato/edit/{{prato.id}}" class="btn-flat">
          <i class="material-icons">mode_edit</i>
        </a>       
        <a (click)="delete(prato)" class="btn-flat">
          <i class="material-icons">delete</i>
        </a>         
      </td>     
      <td>{{prato.restaurante.nome}}</td>
      <td>{{prato.descricao}}</td>
      <td>{{prato.valor}}</td>
    </tr>
  </tbody>
</table>